*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    margin: 0;
    background: rgb(34, 32, 32);
}


/* Header */

.header{
    width: 100%;
    height: 100px;
    display: block;
    background-color: #101010;
    position: fixed;
}
.innerHeader{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1{
    color: white;
    font-size: 32px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
}
.logo h1 span{
    font-weight: 800;
}
.nav{
    display: flex;    
}
.nav a{
    padding: 0 20px;
}
.nav a li:hover{
    color: rgb(153, 157, 160);
}
.nav a li{
    height: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.bloque{
    height: 100px;
    background-color: black;
}


/*-----------Slider-------------*/

.slider{
    width: 100%;
    display: block;
    margin: auto;
    overflow: hidden;
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite;
}
.slider li{
    width: 100%;
    height: 500px;
    list-style: none;
}
.slider img{
    width: 100%;
    height: 700px;
}
@keyframes cambio {
    0% {margin-left: 0; }
    20% { margin-left: 0;}

    25% { margin-left: -100%;}
    45% { margin-left: -100%;}

    50% { margin-left: -200%;}
    70% { margin-left: -200%;}

    75% { margin-left: -300%;}
    95% { margin-left: -300%;}
}

/* Contenido */

.medio{
    background: rgb(34, 32, 32);
    margin: 0  50px 0px 50px;
}
.container{
    padding-top: 50px;
    color: white;
}
.peliculasPop{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    padding-top: 10px;  
}
.peliculasEst{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    padding-top: 10px;  
}
.seriesPop{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    padding-top: 10px;  
}

.container img{
    width: 224px;
    height: 330px;
    border-radius: 10px;
}
.container img:hover{
    opacity: 0.5;
}
.container a{
    text-decoration: none;

}
.container h3{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    
}
.container a  :hover{
    color:rgb(153, 157, 160);
}
.categoria{
    font-size: 27px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}



/* Footer */


.footer{
    width: 100%;
    height: 100px;
    display: block;
    background-color: #101010;
}
.innerFooter{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redesSociales{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    gap: 15px;
}
.redesSociales h2{
    font-weight: 200;
    font-size: 18px;
}
.redesSociales a{
    color: white;
}



/* Responsive */

@media (max-width: 768px){
    .header{
        height: 140px;
    }
    .innerHeader{
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
    }
    .slider{
        display: none;
    }
    .peliculas1{
        justify-content: flex-start;
        gap: 5px;
    }
    .peliculas1 img{
        width: 160px;
        height: 240px;
        border-radius: 15px;
    }
}

@media (max-width: 420px){
    .peliculas1{
        gap: 15px;
    }
    .categoria{
        font-size: 16px;
    }
    .peliculas1 img{
        width: 130px;
        height: 160px;
        border-radius: 10px;
    }
    .peliculas1 h3{
        font-size: 12px;
    }
}
