*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    margin: 0;
    background: rgb(34, 32, 32);
}


.header{
    width: 100%;
    height: 100px;
    display: block;
    background-color: #101010;
}
.innerHeader{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1{
    color: white;
    font-size: 32px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
}
.logo h1 span{
    font-weight: 800;
}
.nav{
    display: flex;    
}
.nav a{
    padding: 0 20px;
}
.nav a li:hover{
    color: rgb(153, 157, 160);
}
.nav a li{
    height: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 100px;
}
.imgPeli{
    width: 270px;
    border-radius: 15px;
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
}
.imgPeli img {
    width: 100%;
}
.imgPeli button{
    border:rgb(153, 157, 160) solid 2px;
    border-radius: 5px;
    background-color: rgb(58, 56, 56);    ;
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 30px;
}
.tituloPeli{
    color: rgb(234, 245, 255); 
    text-decoration: underline; 
    font-size: 24px;
}
.infoContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    font-family: 'Montserrat', sans-serif;
}
.info{
    color: rgb(153, 157, 160);
    font-size: 14px;
}
.info2{
    color: white;
}
.info2 a{
    color: white;
    text-decoration: none;
}
.info2 a:hover{
    color: rgb(153, 157, 160);
}
.calificacion{
    color: gold;
}
.trailer{
    display: flex;
    justify-content: space-around;
    border: solid grey;
}


.containerReviews{
    margin-right: 50px;
    width: 100%;
    border: grey solid 3px;
    border-radius: 10px;
    padding: 10px;
}
.reviews{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.reseñas{
    display: flex;
    gap: 15px;
}
.tituloReviews{
    color: rgb(153, 157, 160);
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px; 
    text-decoration: underline;
}
.reviews img{
    width: 64px;
    height: 64px;
}
.reviews h3{
    color: white;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
.reviews span{
    font-size: 12px;
}

/*Footer*/

.footer{
    width: 100%;
    height: 100px;
    display: block;
    background-color: #101010;
}
.innerFooter{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redesSociales{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    gap: 15px;
}
.redesSociales h2{
    font-weight: 200;
    font-size: 18px;
}
.redesSociales a{
    color: white;
}



@media (max-width: 768px){
    /*Header*/
    .header{
        height: 180px;
        position: static;
    }
    .innerHeader{
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        
    }
    .logo{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .nav{
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
    }
    .bloque{
        display: none;
    }
    /*Contenido*/
    .container{
        flex-direction: column;
        margin: 0;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .infoContainer{
        width: 90%;
    }
    .trailer{
        width: 90%;
    }
    .containerReviews{
        margin-right: 50px;
        width: 100%;
        border: none;
        padding: 0;
    }
    /*Footer*/
    .footer{
        height: 140px;
    }
    .innerFooter{
        display: flex;
        flex-direction: column;
    }
    .redesSociales{
        margin-bottom: 20px;
    }
}

@media (max-width: 420px){
    .imgPeli{
        width: 240px;
    }
    .trailer{
        width: 100%;
    }
    .containerReviews{
        margin: 0px;
    }
    .tituloReviews{
        margin-left: 10px;
    }
}