*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    margin: 0;
    background: rgb(34, 32, 32);
}

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
}
.innerHeader{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1{
    color: white;
    font-size: 32px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
}
.logo h1 span{
    font-weight: 800;
}
.nav{
    display: flex;    
}
.nav a{
    padding: 0 20px;
}
.nav a li:hover{
    color: rgb(153, 157, 160);
}
.nav a li{
    height: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}


.container{
    display: grid;
    grid-template-columns: 20% 35% 45%;
    gap: 5px;
    margin-top: 15px;
    margin-left: 80px;
}
.imgAvengers{
    width: 100%;
    padding: 10px;
    object-fit: cover;
    border-radius: 20px;
}
.tituloPeli{
    color: rgb(234, 245, 255); 
    text-decoration: underline; 
}
.info{
    display: grid;
    grid-template-rows: auto;
    padding: 20px;
}
.infoAven{
    color: rgb(153, 157, 160);
    font-size: 15px;
}
.infoAven2{
    color: white;
}
.estrellas{
    color: gold;
}
.configPeli{
    display: flex;
    justify-content: space-between;
    color: rgb(234, 245, 255);
}
.trailer{
    position: relative;
    top: 70px;
    left: 70px;
}



@media (max-width: 768px){
    .header{
        height: 140px;
    }
    .innerHeader{
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
    }
}