*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    margin: 0;
    background: rgb(34, 32, 32);
}


.header{
    width: 100%;
    height: 100px;
    display: block;
    background-color: #101010;
}
.innerHeader{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1{
    color: white;
    font-size: 32px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
}
.logo h1 span{
    font-weight: 800;
}
.nav{
    display: flex;    
}
.nav a{
    padding: 0 20px;
}
.nav a li:hover{
    color: rgb(153, 157, 160);
}
.nav a li{
    height: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 100px;
}
.imgPeli{
    width: 270px;
    border-radius: 15px;
}
.imgPeli img {
    width: 100%;
}

.tituloPeli{
    color: rgb(234, 245, 255); 
    text-decoration: underline; 
    font-size: 24px;
}
.infoContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    font-family: 'Montserrat', sans-serif;
}
.info{
    color: rgb(153, 157, 160);
    font-size: 14px;
}
.info2{
    color: white;
}
.calificacion{
    color: gold;
}
.trailer{
    display: flex;
    justify-content: space-around;
}


.footer{
    width: 100%;
    height: 100px;
    display: block;
    background-color: #101010;
}
.innerFooter{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redesSociales{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    gap: 15px;
}
.redesSociales h2{
    font-weight: 200;
    font-size: 18px;
}
.redesSociales a{
    color: white;
}



@media (max-width: 768px){
    .header{
        height: 140px;
    }
    .innerHeader{
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
    }
    .container{
        flex-direction: column;
        margin: 0;
        margin-top: 30px;
    }
    .imgAvengers{
        width: 270px;
        
    }
    .info{
        width: 90%;
    }
    .trailer{
        width: 90%;
    }
}

@media (max-width: 420px){
    .trailer{
        width: 100%;
    }
}