*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    margin: 0;
    background: rgb(34, 32, 32);
}

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
}
.innerHeader{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.logo{
    height: 100%;
    display: table;
    float: left;
}
.logo h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;

}
.logo h1 span{
    font-weight: 800;
}
.nav{
    float: right;
    height: 100%;
}
.nav a{
    height: 100%;
    display: table;
    float: left;
    padding: 0 20px;
}
.nav a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.nav input{
    display: table-cell;
    vertical-align: middle;
}


.container{
    display: grid;
    grid-template-columns: 20% 35% 45%;
    gap: 5px;
    margin-top: 15px;
}
.imgAvengers{
    width: 100%;
    padding: 10px;
    object-fit: cover;
    border-radius: 20px;
}
.tituloPeli{
    color: rgb(234, 245, 255); 
    text-decoration: underline; 
}
.info{
    display: grid;
    grid-template-rows: auto;
}
.infoAven{
    color: rgb(153, 157, 160);
    font-size: 15px;
}
.infoAven2{
    color: white;
}
.estrellas{
    color: gold;
}
.configPeli{
    display: flex;
    justify-content: space-between;
    color: rgb(234, 245, 255);
}
.trailer{
    position: relative;
    top: 20%;
    left: 10%;
}



@media (max-width: 768px){
    header label img{
        display: block;
    }
    .logo{
        display: none;
    }
    .titulo{
        display: none;
    }
    .menu{
        position: absolute;
        background-color: rgb(10, 10, 10);
        width: 60%;
        margin-left: -60%;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li{
        border-top: 1px solid white;
    }
    #btn-menu:checked ~ .menu{
        margin: 0;

    }
}
