*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    margin: 0;
    background: rgb(34, 32, 32);
}


/* Header */

.header{
    width: 100%;
    height: 100px;
    display: block;
    background-color: #101010;
    position: fixed;
}
.innerHeader{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1{
    color: white;
    font-size: 32px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
}
.logo h1 span{
    font-weight: 800;
}
.nav{
    display: flex;    
}
.nav a{
    padding: 0 20px;
}
.nav a li:hover{
    color: rgb(153, 157, 160);
}
.nav a li{
    height: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.bloque{
    height: 100px;
    background-color: black;
}


/* Detalles */

.container{
    margin: 50px;
   
}
.titulo{
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.imgResultado{
    width: 100%;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.imgResultado h3{
    width: 250px;
}
.imgResultado img {
    width: 250px;
    height: 375px;
    border-radius: 15px;
}

.container a  :hover{
    color:rgb(153, 157, 160);
}
.imgResultado img:hover{
    opacity: 0.5;
}