*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    margin: 0;
    background: rgb(34, 32, 32);
}

.header{
    width: 100%;
    height: 100px;
    display: block;
    background-color: #101010;
    position: fixed;
}
.innerHeader{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1{
    color: white;
    font-size: 32px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
}
.logo h1 span{
    font-weight: 800;
}
.nav{
    display: flex;    
}
.nav a{
    padding: 0 20px;
}
.nav a li:hover{
    color: rgb(153, 157, 160);
}
.nav a li{
    height: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.bloque{
    height: 100px;
    background-color: black;
}

.container{
    margin: 50px;
   
}
.tituloGenero{
    font-size: 27px;
    color: white;
    margin-bottom: 25px;
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
}
.peliculas{
    width: 100%;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.peliculas img {
    width: 250px;
    height: 375px;
    border-radius: 15px;
}
.peliculas img:hover{
    opacity: 0.5;
}




.footer{
    width: 100%;
    height: 100px;
    display: block;
    background-color: #101010;  
}
.innerFooter{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redesSociales{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    gap: 15px;
}
.redesSociales h2{
    font-weight: 200;
    font-size: 18px;
}
.redesSociales a{
    color: white;
}





@media (max-width: 768px){
    .header{
        height: 140px;
    }
    .innerHeader{
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
    }
    
}